#wrapper {
    background-image: url("../images/bg-1.jpg");

};

#bio {
    font-size: 18px !important;
}

@media only screen and (max-width: 768px) {
    .d-flex {
        height: 110px;
    }
  }

#footer {
    height: 40px !important;
    line-height: 40px !important;
    margin-top: 40px;
};

nav {
    font-size: 24px;
}

.d-flex {
    height: 75px;
    position: absolute;
}

.main {
    position: relative;
    top: 40px;
}

.name {
    cursor: pointer;
}

.link {
    text-decoration: underline;
}

.link:hover {
    color: rgb(71, 5, 71)!important
}

.name:hover {
    color: rgb(71, 5, 71)!important
}
