#wrapper {
    background-image: url("../images/background-image.png");
    };

.main {
    padding: 20px !important;
    width: 70%;
};

#footer {
    height: 40px !important;
    line-height: 40px !important;
};

nav {
    font-size: 24px;

}

.d-flex {
    height: 75px;
}

.name {
    cursor: pointer;
    color: black;
}
/* .card-img-top{
    max-width: 10rem;
} */
